.nav{
    width: 100%;
    color: #5A5A5A;
    height: 60px;
    border-bottom: 1px solid #f2f2f2;

    >ul {
        display: flex;
        padding: 18px 30px;
        li {
            margin: 0 20px;
            font-size: 12px;
            padding-bottom: 20px;
            &.active {
                border-bottom: 1px solid #5A5A5A;
            }
        }
    }
   
}