@import '../../../styles/reset.css';

.main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -ms-flex;
    display: -webkit-flex;
    background-color: #fff;
    flex-flow:row;/*伸缩项目单行排列*/  
    line-height: 1.8em;
}

.description {
    margin: 10px 0;
    color: #aaa;
}
.post-content {
    cursor: pointer;
    margin-top: 70px;
    overflow-y: scroll;
    .post {
        padding: 20px;
        border-bottom: 1px solid #f2f2f2;
    }
    .post-title {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        font-weight: 600;
        color: #464646;
        font-size: 22px;
        margin: 0;
    }
    .post-sumary {
        margin: 20px 0;
        font-size: 14px;
    }
}
.content {
    padding: 80px 20px 20px;
    background-color: #FFF;
    height: 85%;
    overflow: scroll;
}