@import '../../../styles/reset.css';

.main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -ms-flex;
    display: -webkit-flex;
    background-color: #fff;
    flex-flow:row;/*伸缩项目单行排列*/  
    line-height: 1.8em;
}

.description {
    margin: 10px 0;
    color: #aaa;
}
.post-content {
    cursor: pointer;
    margin-top: 70px;
    overflow-y: scroll;
    .post {
        padding: 20px;
        border-bottom: 1px solid #f2f2f2;
    }
    .post-title {
        line-height: 1;
        font-weight: 600;
        color: #464646;
        font-size: 22px;
        margin: 0;
    }
    .post-sumary {
        margin: 20px 0;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
    }
    .post-footer {
        color: #bbbbbb;
        font-size: 12px;
        li {
            display: inline;
            margin-right: 10px;
        }
        .iconfont {
            margin-right: 5px;
        }
        .icon-time {
            font-size: 14px;
            color: #719fcc;
        }
        .icon-tag {
            font-size: 16px;
            color: #6fb0be;
        }
    }
}
.content {
    padding: 60px 20px 20px;
    background-color: #FFF;
    height: 85%;
    overflow: scroll;
}
.links {
    li {
        display: inline;
        padding: 0 4px;
        line-height: 0;
        font-size: 12px;
    }
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}