.nav{
    width: 100%;
    color: #5A5A5A;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;

    >ul {
        display: flex;
        padding: 20px 30px 20px 0;
        li {
            margin: 0 20px;
            font-size: 12px;
            padding-bottom: 13px;
            &.active {
                border-bottom: 1px solid #5A5A5A;
            }
        }
    }
   
}