@import './markdown.scss';
@import './iconfont/iconfont.css';


html {
    -webkit-font-smoothing: antialiased;
}
body {
    font-size: 14px;
    line-height: 1.6em;
    color: #373a3c;
    font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
}
a {
    color: #424242;
    cursor: pointer;
}
h3.title {
    font-size: 40px;
    font-weight: bold;
}
.fix {
    position: fixed;
}