
body {
    font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
}
a {
    color: #424242;
}
h3.title {
    font-size: 40px;
    font-weight: bold;
}